body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  border: none;
  padding: 0;
}

button:active {
  outline: none !important;
}

input:active {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

:root {
  --gradientLeft1: linear-gradient(to left, #3064a9, #164786);
  --gradientTop1: linear-gradient(to top, #3064a9, #164786);
  --gradientHeader: linear-gradient(to top, #195097, #0c2950);
}
